{% extends "layout.html" %} 

{% block content%} 

<div class="indexBody">
  <!-- start descciption section -->
  <section class="description col-md-8 container">
    <p >
      The word ladder problem helps in word transformation. Example is
      Transform the word “FOOL” into the word “SAGE”. In a word ladder
      puzzle you must make the change occur gradually by changing one letter at a time. <br><br> 
      At each step
      you must transform one word into another word, you are not allowed to
      transform a word into a non-word. The word ladder puzzle was invented
      in 1878 by Lewis Carroll, the author of Alice in Wonderland. The
      following sequence of words shows one possible solution to the problem
      posed
      <pre>POLE => PALE => SALE => SAGE</pre>
    </p>
  </section> <!-- end description section -->


  <!-- start input section -->
  <aside class="inputBox col-md-4 fright">
    <h3>Try it here </h3>
    <form name="input" action="." method="POST" autocomplete="off">
        <!-- first word input -->
      <div class="inputItem">
        <input type="text" name="firstWord" aria-required="true" placeholder="First Word" />
      </div>
      <!-- last word input -->
      <div class="inputItem">
        <input type="text" name="lastWord" aria-required="true" placeholder="Last Word" />
      </div>
      <!-- input Button -->
      <input type="submit"  class="btn" value="Go!" />

    </form> 
  </aside><!-- end input section -->
</div>
{% endblock %}
