<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='layout.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <title>Word Ladder</title>
  </head>

  <body>
    <header><h2>Word Ladder</h2></header>

    <section class="main">
      {% block content%}

      <!-- the content of each page will be here -->

      {%endblock%}
    </section>
    <footer>
      <div class="dropdown">
        Yousef
        <div class="dropdown-content">
          <a href="https://github.com/YUSUF-7" target="blanck"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="dropdown">
        Saadman
        <div class="dropdown-content">
          <a href="https://github.com/Saadman" target="blanck"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="dropdown">
        Akmal
        <div class="dropdown-content">
          <a href="https://github.com/munoas" target="blanck"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="dropdown">
        Awad
        <div class="dropdown-content">
          <a href="https://github.com/AbdoAwad" target="blanck"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="dropdown">
        Moad
        <div class="dropdown-content">
          <a href="https://github.com/moadmmh" target="blanck"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>

      <div class="dropdown">
        Asaad
        <div class="dropdown-content">
          <a href="https://github.com/asaadoov" target="blanck"
            ><i class="fab fa-github"></i
          ></a>
          <!--
            <a
              href="https://api.whatsapp.com/send?phone=9665322552884"
              target="blanck"
              ><i class="fab fa-whatsapp"></i
            ></a>
          -->
        </div>
      </div>
    </footer>
  </body>
</html>
